{% extends "layout.html" %}
{% block title %} Message {% endblock %}
{% block index %}

<div class="jumbotron">
    <!-- https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
    <h1 class="display-4">Thank You for Your Request!</h1>
    <p class="lead">
        You will be contacted by our staff via <b>email</b> regarding any
        updates on your request. <b> (Not really!)</b>.<br />If you have additional
        information to provide or any questions,
        feel free to contact us at this
<a href="mailto:martingroma1@gmail.com"><b>email address</b></a>.
    </p>
    <hr class="my-4" />
</div>

{% endblock %}
