{% extends "layout.html" %}
{% block title %} Service Pricing {% endblock %}
{% block main %}

<div class="container">
    <h2>Pricing for Our Services</h2>
    <p>Here are the prices of some of the most popular procedures:</p>
    <table class="table table-condensed">
        <!-- https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->
        <caption>Veterinary Services and Pricing</caption>
        <thead>
            <tr>
                <th>Operation</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Basic examination</td>
                <td>First or any non-emergency visit</td>
                <td>10 €</td>
            </tr>
            <tr>
                <td>Vaccination</td>
                <td>Depends on the type of vaccine</td>
                <td>20 € - 50 €</td>
            </tr>
            <tr>
                <td>Nail trimming</td>
                <td>Or other similar non-invasive procedures</td>
                <td>5 €</td>
            </tr>
            <tr>
                <td>Emergency visit</td>
                <td>Varies based on the type of emergency</td>
                <td>10 € - 50 €</td>
            </tr>
            <tr>
                <td>Hospitalisation</td>
                <td>Price per day</td>
                <td>15 €</td>
            </tr>
            <tr>
                <td>Castration</td>
                <td>Applicable for dogs or cats</td>
                <td>40 €</td>
            </tr>
            <tr>
                <td>Dental treatment</td>
                <td>Includes extractions, cleaning, polishing</td>
                <td>40 € - 100 €</td>
            </tr>
            <tr>
                <td>Invasive or surgery</td>
                <td>Depends on the procedure</td>
                <td>20 € - 100 €</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
